/* for debugging reasons */
*{
	/* outline: 1px solid; */
}

body {
  width: 100%;
  height: 100%;
  /*font-family: Arial;*/
}

.navbar{
	position: fixed; /* Make it stick/fixed */
  	top: 0; /* Stay on top */
  	transition: top 0.6s;
  	width: 100%;
  	z-index: 3
}

.jumbotron{
	background: url(./assets/jumbotronimage.jpg) no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 10rem 1rem;
	position: relative;


}
.jumbotron > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:#000;
    opacity:0.4;
    z-index: 1;


  	
}

#type1jumbotron{
	margin-left: 15px;
	margin-right: auto;
	padding: 20px;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #666;
	position: relative;
    z-index: 2;

	
}

hr{
	width: 25%;
	margin-left: 0px;
	border-color: #FFFFFF;
}

.btn{
	margin-top:10px;
	background-color: rgb(84,175,175);
	border-color: rgb(84,175,175);
	border-radius: 25px

}


.separator{
	font-size: 1.5rem;
	font-weight: 200;

}

@media only screen and (max-width: 768px) {

  	.separator{
		margin: 3%;
		
	}
}

.separatorbox{
	background-color: rgb(84,175,175);
}


.carimage{
	height: 60vh;	
}

.drk:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000;
    opacity:0.4;
}
#features{
	padding-top: 50px;
	background-color: rgb(248, 249, 250);
}

.featuretitle{
	font-size: 2.5rem;
	font-weight: 250;
}

.featurecard{
	margin-top: 20px;
	margin-bottom: 60px;
	font-size: 1.1rem;
}
.featurecard > img{
	width: 120px ;
	height: 120px;
	border-radius: 90px;
	transition: all 0.5s

}

.featurecard > img:hover{
	background:#000;
    opacity:0.3;
}

.featurecard > div{
	font-weight: bold;
}
.featurecard > p{
	font-weight: 200;
}

.animate__animated.animate__pulse{
	--animate-duration: 3s;
	
	animation-iteration-count: 10;

}

.effectDelay2{
	animation-delay: 0.6s;
}

.effectDelay3{
	animation-delay:1.5s;
}

.jumbotext{
	background:url(./assets/jumbotext.jpg)no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	
}

@media only screen and (max-width: 768px) {
  .jumbotext {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}

#jumbotextA{
	grid-row: 1 / span 2;

}

#jumbotextB{
	background-color: rgb(84,175,175);
	font-size: 2.5em;
	font-weight: 250;
	/*text-shadow: 1px 1px 1px #666;*/
	padding: 8% 3%;

}



#jumbotextC{
	position: relative;
}

#jumbotextC>.blur{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:#000;
    opacity:0.4;
    z-index: 1;
}

.overblur{
	position: relative;
    z-index: 2;
    padding: 5% 18% 5% 5%;
	font-size: 1.2em;
	font-weight: 350;
}

.overblurbottom{
	position: relative;
    z-index: 2;
    padding: 1% 3% 5%;
	font-size: 1.2em;
	font-weight: 250;
}

.sectionTittle{
	font-size: 2.5rem;
	font-weight: 250;
	margin: 0% 0% 3% 0%; 
}

#theteam{
	padding: 3%;
}

#teamgrid{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 25px;
	padding: 2%;
}

.membermain{
	grid-column: 2;
	grid-row: 1 / span 3;
	background-color: rgb(84,175,175, 0.7);
	display: inline-block;
	border-radius: 10px;
	position:relative;
	margin:0% 25% 0% 0%;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;

}


.membermain>img{
	width: 100% ;
	border-radius: 12px 12px 0px 0px;
	
}

.membermaintext{
	margin: 10% 6%;
	font-weight: 400;
	font-size: 1.1rem;
}

.member1{
	background-color: #F0F0F0;
	display: flex;
	border-radius: 10px;
	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 2% 2% 0% 2%;
    margin: 0% 5% 0% 12%;
}

.membermain:before, .membermain:after .member1:before, .member1:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.membermain:after .member1:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.member1>img{
	width: 100px ;
	height: 100px;
	border-radius: 90px;
	margin: 1%;
	-webkit-box-shadow:rgba(256,256,256,0.8) 0px 8px 15px, inset rgba(256,256,256,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(256,256,256,0.8) 0px 8px 15px, inset rgba(256,256,256,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(256,256,256,0.8) 0px 8px 15px, inset rgba(256,256,256,0.15) 0px -10px 20px;
    box-shadow:rgba(256,256,256,0.8) 0px 8px 15px, inset rgba(256,256,256,0.15) 0px -10px 20px;
}

.membertext{
	margin: 1% 2%;
	font-weight: 350;
	font-size: 1.1rem;
}


@media only screen and (max-width: 768px) {

  	#teamgrid {
		display: grid;
		grid-template-columns: 1fr;
		padding: 0%;
		grid-row-gap: 60px;
		margin: 10% 0%;
		}
  	.membermain  {
    	grid-column: 1;
    	margin: 0%;
		}
	.member1 {
    	grid-column: 1;
    	display: inline-block;
    	margin: 0 1%;
    	text-align:  center;
	}
	.teamtittle{
		padding: 10%;
	}
}

@media only screen and (max-width: 768px) {

}

.servicetype{
	width: 60%;
	margin: auto;
}
.serviceimage>img{
	width: 25vw;
}
.lefttext{
	padding-left: 5%;
}

.servicecontent>p{
	font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #4E4E4E;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
.servicetype {
    width: 90%;
    flex-direction: column !important;
    }
    .lefttext  {
    width: 100%;
    text-align: center;
    }
    .serviceimage  {
    width: 100%;
    }
    .serviceimage>img{
	width: 80vw;
}
}

/* Concerning the slide part */
.productCatalogue{
	padding: 4%  0%;
}

.animationTest{
	
}

.carouselCatalogue{
	height: 450px;
	display: flex;
	overflow-x: auto;

	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	grid-gap: 10px;
	justify-items: center;
	padding: 1%; */
	
		
}

.carouselCatalogue::-webkit-scrollbar{
	scroll-behavior: smooth;
	transition: color 0.3s;
	width: 0;
}


.catalogueItem{
	max-height: 400px;
	min-width: 350px;
	margin-right: 10px;
	background-size: contain;
	border-radius: 15px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    position: relative;
    z-index: 2;
	transition: all 0.2s ease-in-out;

	animation: hoover 50s steps(2000) infinite ;

}

@keyframes hoover {
	to {
		transform: translate3d(calc(-600% - 60px) , 0px, 0px);
	}
}


.catalogueText{
	padding: 3%;
	position: relative;
    z-index: 2;

}

.catalogueText>h4{
	font-weight: 700;
	color: white;
	margin: 5% 2%;

}

.catalogueText>p{
	font-weight: 450;
	font-size: 1.1em;
	color: white;
	/* sorry for commenting this, couldn't manage to make work with narrow screens */
	/* margin: 18% 2%; */
	opacity: 0;
	transition: all 0.3s linear;

}

.catalogueItem:hover p, .catalogueItem:hover .catalogueButton{

	opacity: 1;
}

.catalogueItemOverlay{
	transition: all 1s linear;
	border-radius: 15px;
}
.catalogueItem:hover .catalogueItemOverlay{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:#000;
    opacity:0.4;
    z-index: 1;

}
.catalogueButton{
	padding: 3% 25%;
	margin: 7% 5%;
	opacity: 0;
	transition: all 0.3s linear;
	position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.catalogueItem:hover{
	transform: scale(1.03);
}

.contactUs{
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);

}


.contactUsHeader{
	font-size: 1.3rem;
    line-height: 23px;
    font-weight: 500;
}

.contactContainer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	padding: 5% 20%


}

.contactLeft{
	display: grid;
	grid-template-rows: 2fr 1fr 1fr 1fr;
	grid-gap: 10px;
	padding-right: 8%;
	padding-left: 10%;

	
}

.text-white-bord{
	
	font-weight: 400;
	color:	#fff;
	text-shadow: 0.7px 0.7px 5px #000;

}

.contactBox hr{
	width: 80%;
	text-align:center;

}

.contactLeft h5{
	font-size: 2.5rem;
	text-shadow: 0.7px 0.7px 5px #000;
	margin-bottom: 6%;

}

.contactBox{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #6c757d;
	padding-right: 8%;
	

}

.contactBox i{

	align-items: center;
	padding-right: 5%;
	font-size: 2.5rem;
	color: #fff;
	text-shadow: 0.7px 0.7px 5px #000;

}
.contactInfo{
	
	font-weight: 500;
}


/*line-height: 30px;*/

.contactFormCont{
	display: inline-block;
	padding: 12% ;
	background-color: #fff;
	border-radius: 15px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

button{
	border: 0px;
	background: transparent;

}

button a{
	-webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

 .input-bg{
	background-color: #f7f7f7;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px 20px;
    width: 100%;
    
    
}

textarea{
	min-height: 130px;
}

.contactFormCont-Tittle{
	font-weight: 250;
	color: #232323;
	font-size: 1.8rem;
	text-align: center;
	margin-bottom: 5%;

}

@media only screen and (max-width: 768px) {

  	.contactContainer {
		display: grid;
		grid-template-columns: 1fr;
		
		grid-row-gap: 60px;
		padding: 10% 6%;
	}
}

.sponsorSection{
	padding: 6%;
}

.sponsorLogo {
	width: 100%;
	color: #000;
  	filter: gray; /* IE6-9 */
  	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  	padding: 8%; 
  	transition: all 0.4s linear;
}

/* Disable grayscale on hover */
.sponsorLogo:hover {
 	-webkit-filter: grayscale(0);
  	filter: none;
  	transform: scale(1.03);
}

footer{
	padding: 4%;
	
}

.footerSlogan{
	text-align: left;
}
.footerLogo{
	text-align: right;
}

footer a, footer a:active, footer a:focus, footer a:hover {
    text-decoration: none;
    color: #1fc8db;
    font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {

  	.footerSlogan{
		margin: 6%;
		text-align: center;
	}
	.footerLogo{
		margin: 6%;
		text-align: center;
	}
}